
<div class="app bgcolor m-auto">

    <div class="main-box">
        <section class="title-box">
           <span>下载App抢先体验</span>
        </section>

        <a class="down-box" href="http://www.panli.com/app.html">
            <!-- <div>
                <a class="down-btn" href="http://www.panli.com/app.html">
                    <span class="icon"></span><span>iOS 下载</span>
                </a>
            </div>
            <div>
                <a class="down-btn" href="http://www.panli.com/app.html">
                    <span class="icon"></span><span>Android 下载</span>
                </a>
            </div> -->
        </a>

        <section class="add-wechat">
            <div class="fist">
                搜索微信号： <span class="strong" >panlicoupon</span>
            </div>
            <div>
                加客服，领 <span class="li-bao" >100元礼包</span>
            </div>
        </section>
        
        <section class="code-box">
            <img src="./build/css/img/code.png" alt="" srcset="">
        </section>
    </div>

    <!-- <footer class="footer">* 本活动最终解释权归Panli所有</footer> -->
</div>

