
<% include ../../../templates/head.ejs %>

    <div class="app bgcolor m-auto">
        <section class="banner">&nbsp;
        </section>

        <section class="time">
         <div class="top5">
             <div class="line_1">
                 <a target="_black" href="https://www.jd.com/">&nbsp;</a>
                 <a target="_black" href="https://www.vip.com/">&nbsp;</a>
             </div>
             <div class="line_2">
                <a target="_black" href="http://www.dangdang.com/">&nbsp;</a>
                <a target="_black" href="https://www.mogujie.com/">&nbsp;</a>
                <a target="_black" href="http://www.panli.com/Special/jp_H5.html">&nbsp;</a>
             </div>
         </div>
        </section>

        <nav class="nav-box">
            <ul>
                <li class="on">
                    <a href="javascript:void(0);">
                        大咖红人
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        人气服装
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        点睛饰品
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        美味零食
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        创意居家
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        爆款美妆
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        品质鞋包
                    </a>
                </li>
            </ul>
        </nav>
        <div class="floor-wrap">
            <section class="floor floor_1" id="floor_1" style="display:block">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_2" id="floor_2">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_3" id="floor_3">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_4" id="floor_4">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_4" id="floor_5">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_4" id="floor_6">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
            <section class="floor floor_4" id="floor_7">
                <div class="list">
                    <ul>
                    </ul>
                </div>
            </section>
        </div>
    </div>

</body>
<script src="./data/list.js"></script>
<script src="./data/app.js"></script>
<script>
    FloorList(list)
</script>
<script>
(function() {

    PD(".nav-box").on("click", "li", function() {
        var navs = PD(".nav-box li").removeClass("on")
        var vm = PD(this)
        vm.addClass("on")
        var floors = PD(".floor")
        floors.hide()
        var index = PD(this).index() + 1
        PD("#floor_" + index).show()
    })
})()
</script>
</html>