<div class="app bgcolor m-auto">
    <section class="banner">&nbsp;</section>

    <section class="detail detail1">
        &nbsp;
    </section>
    <section class="f-title">&nbsp;</section>
    <section class="floor-wrap">
        <div class="floor floor1">
            <ul class="ull" id="ul1"></ul>
        </div>
    </section>

    <footer class="footer">* 本活动最终解释权归Panli所有</footer>
</div>

<script src="./data/data.js"></script>
<script src="./data/app.js"></script>
<script>
    FloorList(productData)
</script>