.footer{
  text-align: right;
  padding-top: 10px;
  position: relative;
  padding-right: 20px;
  top: -100px;
  &-cp{
    text-align: right;
    color: #97492b;
    padding: 20px;
    font-size: 22px;
  }
}