
.hide {
  display: none;
}
 
a {
  text-decoration: none; 
}

.app {
  min-height: 100%;
}

.banner{
  height: 522px;
  background: url(./img/banner.png) no-repeat center top;
  background-size: 720px 706px;
}
.time{
  height: 170px;
  background: url(./img/time.png) no-repeat center top;
  background-size: 720px 170px;
}
.content{
  margin-top: 20px;
  height: 1737px;
  background: url(./img/content.png) no-repeat center top;
  background-size: 663px 1737px;
}

.footer{
  margin-top: -100px;
  padding-bottom: 50px;
  height: 243px;
  background: url(./img/footer.png) no-repeat center top;
  background-size: 680px 243px;
}