
<div class="app bgcolor m-auto">
    <section class="banner">&nbsp;</section>
    <section class="time-box">

    </section>

    <section class="l-title">&nbsp;</section>


    <section class="floor-wrap">
        <div class="floor floor1">
            <ul class="ull" id="ul1">
                <li>
                    <a href="https://dangdang.tmall.com/" target="_blank">
                        <div class="thumb"><img src="./build/css/img/1.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://deli.tmall.com/" target="_blank">
                        <div class="thumb"><img src="./build/css/img/2.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://pages.tmall.com/wow/a/act/20326/upr?spm=875.7931836/B.2016006.10.7f0e4265e7EVV8" target="_blank">
                        <div class="thumb"><img src="./build/css/img/3.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://jusp.tmall.com/act/o/kxhxpc?spm=608.2291429.102204.4.7adb4f848GNEUv&box_id=R2C4" target="_blank">
                        <div class="thumb"><img src="./build/css/img/4.png" alt=""></div>
                    </a>
                </li>
                <li>
                    <a href="https://shop57665133.taobao.com/" target="_blank">
                        <div class="thumb"><img src="./build/css/img/5.png" alt=""></div>
                    </a>
                </li>
               

                <li>
                    <a href="http://www.moonbasa.com/" target="_blank">
                        <div class="thumb"><img src="./build/css/img/6.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="http://act.mogujie.com/uzt/pc/taozhuang" target="_blank">
                        <div class="thumb"><img src="./build/css/img/7.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="https://pro.jd.com/mall/active/PdiuySBRmmy7WEDZn8pJPqjDV5y/index.html" target="_blank">
                        <div class="thumb"><img src="./build/css/img/8.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="https://sale.yhd.com/act/IkAs5LfDV3CF.html" target="_blank">
                        <div class="thumb"><img src="./build/css/img/9.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="https://www.amazon.cn/%E5%9B%BE%E4%B9%A6/b/ref=topnav_storetab_b?ie=UTF8&node=658390051" target="_blank">
                        <div class="thumb"><img src="./build/css/img/10.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="https://pages.tmall.com/wow/a/act/20326/upr?spm=875.7931836/B.2016006.10.7f0e4265e7EVV8&wh_weex=true&trackInfo=20160815100201;31126424214;189710;574935053165;3;189710_574935053165;1007.14152.68669.100200300000000;3c725102-294c-4df8-8544-21883e4099d6;3;1954995555;10000002&wh_biz=tm&item_id=574935053165&pvid=3c725102-294c-4df8-8544-21883e4099d6&pos=10&activity_id=189710&wh_pid=industry-152279&acm=07055.1003.1.2519102&scm=1003.1.20160815.OTHER_0_4063275" target="_blank">
                        <div class="thumb"><img src="./build/css/img/11.png" alt=""></div>
                    </a>
                </li>

                <li>
                    <a href="https://pages.tmall.com/wow/a/act/20326/upr?spm=a21bo.2017.201863-4.d2.5af911d9dF7E3E&wh_weex=true&trackInfo=201610103100101;31270578674;190567;520582072888;3;190567_520582072888;1007.13362.68645.100200300000000;d8828752-33c0-4109-8c58-34508718356c;6;1954995555;null&wh_biz=tm&item_id=520582072888&pvid=d8828752-33c0-4109-8c58-34508718356c&pos=6&activity_id=190567&wh_pid=industry-152309&acm=07085.1003.1.1276855&scm=1003.1.07085.OTHER_190567_1276855" target="_blank">
                        <div class="thumb"><img src="./build/css/img/12.png" alt=""></div>
                    </a>
                </li>

            </ul>
        </div>
    </section>

    <footer class="footer">* 本活动最终解释权归Panli所有</footer>
</div>

