<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="dns-prefetch" href="//sf.panli.com">
    <link href="http://sf.panli.com/Ued/pc/common/images/favicon.ico?v=2016.07" type="image/ico" rel="shortcut icon">
    <title>Panli代购</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="./build/css/546.css?v=1515141461762">
    <script src="./build/css/js/app.js?v=1515141461762"></script>
  </head>
  <body> 
  
      <div class="app bgcolor m-auto">
          <section class="banner">&nbsp;
          </section>
  
          <section class="time">
           <div class="top5">
               <div class="line_1">
                   <a target="_black" href="https://www.jd.com/">&nbsp;</a>
                   <a target="_black" href="https://www.vip.com/">&nbsp;</a>
               </div>
               <div class="line_2">
                  <a target="_black" href="http://www.dangdang.com/">&nbsp;</a>
                  <a target="_black" href="https://www.mogujie.com/">&nbsp;</a>
                  <a target="_black" href="http://www.panli.com/Special/jp_H5.html">&nbsp;</a>
               </div>
           </div>
          </section>
  
          <nav class="nav-box">
              <ul>
                  <li class="on">
                      <a href="javascript:void(0);">
                          大咖红人
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          人气服装
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          点睛饰品
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          美味零食
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          创意居家
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          爆款美妆
                      </a>
                  </li>
                  <li class="">
                      <a href="javascript:void(0);">
                          品质鞋包
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="floor-wrap">
              <section class="floor floor_1" id="floor_1" style="display:block" >
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://room-209.taobao.com/" target="_black" title="雪梨 王思聪前女友">
              <img src="./build/css/img/list/1-1.png" alt="雪梨 王思聪前女友">
            </a>
          </li><li class="li_2">
            <a href="https://miss-sa-sa.taobao.com/" target="_black" title="网红SASA小姐自制">
              <img src="./build/css/img/list/1-2.png" alt="网红SASA小姐自制">
            </a>
          </li><li class="li_3">
            <a href="https://love13c.taobao.com/" target="_black" title="网络红人13c">
              <img src="./build/css/img/list/1-3.png" alt="网络红人13c">
            </a>
          </li><li class="li_4">
            <a href="https://tuzikoudai.taobao.com/" target="_black" title="[兔子的口袋] 潮流店主钱小茜">
              <img src="./build/css/img/list/1-4.png" alt="[兔子的口袋] 潮流店主钱小茜">
            </a>
          </li><li class="li_5">
            <a href="https://hotpink-hotpink.taobao.com/" target="_black" title="[open lady] 施薇靓的时髦穿搭">
              <img src="./build/css/img/list/1-5.png" alt="[open lady] 施薇靓的时髦穿搭">
            </a>
          </li><li class="li_6">
            <a href="https://deessefashion.taobao.com/" target="_black" title="[Deesse Sicile] 品质名媛穿搭">
              <img src="./build/css/img/list/1-6.png" alt="[Deesse Sicile] 品质名媛穿搭">
            </a>
          </li><li class="li_7">
            <a href="https://lin828.taobao.com/" target="_black" title="[LIN品质女装] 打造不一样的你">
              <img src="./build/css/img/list/1-7.png" alt="[LIN品质女装] 打造不一样的你">
            </a>
          </li><li class="li_8">
            <a href="https://zystudiozy.taobao.com/" target="_black" title="[ZYSTUDIO] 喜哥 秦奋前女友">
              <img src="./build/css/img/list/1-8.png" alt="[ZYSTUDIO] 喜哥 秦奋前女友">
            </a>
          </li><li class="li_9">
            <a href="https://next-in-fashion.taobao.com/" target="_black" title="[MADEINAM] 我是masami">
              <img src="./build/css/img/list/1-9.png" alt="[MADEINAM] 我是masami">
            </a>
          </li><li class="li_10">
            <a href="https://superman33.taobao.com/" target="_black" title="[Sunny33] 网络红人林珊珊">
              <img src="./build/css/img/list/1-10.png" alt="[Sunny33] 网络红人林珊珊">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_2" id="floor_2" style="display: none;">
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://handuyishe.tmall.com/" target="_black" title="天猫女装销量总冠军">
              <img src="./build/css/img/list/2-1.png" alt="天猫女装销量总冠军">
            </a>
          </li><li class="li_2">
            <a href="https://shop64185146.taobao.com/" target="_black" title="欧美街拍时尚女装">
              <img src="./build/css/img/list/2-2.png" alt="欧美街拍时尚女装">
            </a>
          </li><li class="li_3">
            <a href="https://a7seven.taobao.com/" target="_black" title="永远新鲜潮流">
              <img src="./build/css/img/list/2-3.png" alt="永远新鲜潮流">
            </a>
          </li><li class="li_4">
            <a href="https://xiguaj.taobao.com/" target="_black" title="[西瓜家] 日韩快时尚潮店">
              <img src="./build/css/img/list/2-4.png" alt="[西瓜家] 日韩快时尚潮店">
            </a>
          </li><li class="li_5">
            <a href="https://shop58796011.taobao.com/" target="_black" title="[小银子定制] 最适合的 才是最好 ">
              <img src="./build/css/img/list/2-5.png" alt="[小银子定制] 最适合的 才是最好 ">
            </a>
          </li><li class="li_6">
            <a href="https://only.tmall.com/" target="_black" title="[only] 时尚感强的欧洲设计">
              <img src="./build/css/img/list/2-6.png" alt="[only] 时尚感强的欧洲设计">
            </a>
          </li><li class="li_7">
            <a href="https://dreamy.taobao.com/" target="_black" title="[梦梦家] 品质私服 温暖相随">
              <img src="./build/css/img/list/2-7.png" alt="[梦梦家] 品质私服 温暖相随">
            </a>
          </li><li class="li_8">
            <a href="https://xiaoguli.taobao.com/" target="_black" title="[小谷粒] 做你最爱的轻熟感觉">
              <img src="./build/css/img/list/2-8.png" alt="[小谷粒] 做你最爱的轻熟感觉">
            </a>
          </li><li class="li_9">
            <a href="https://bigeve8.taobao.com/" target="_black" title="[吾欢喜的衣橱] 张大奕私服主义">
              <img src="./build/css/img/list/2-9.png" alt="[吾欢喜的衣橱] 张大奕私服主义">
            </a>
          </li><li class="li_10">
            <a href="https://h-xiaxia.taobao.com/" target="_black" title="[美丽夏夏] 专注潮流与性价比女装">
              <img src="./build/css/img/list/2-10.png" alt="[美丽夏夏] 专注潮流与性价比女装">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_3" id="floor_3" style="display: none;">
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://shop64949215.taobao.com/" target="_black" title="饰品销量总冠军">
              <img src="./build/css/img/list/3-1.png" alt="饰品销量总冠军">
            </a>
          </li><li class="li_2">
            <a href="https://baostyle.taobao.com/" target="_black" title="欧美时尚饰品">
              <img src="./build/css/img/list/3-2.png" alt="欧美时尚饰品">
            </a>
          </li><li class="li_3">
            <a href="https://fhnnsp.tmall.com/" target="_black" title="你想要的 这都有">
              <img src="./build/css/img/list/3-3.png" alt="你想要的 这都有">
            </a>
          </li><li class="li_4">
            <a href="https://shop113647627.taobao.com/" target="_black" title="[卉然饰品] 专注日韩尚潮流饰品">
              <img src="./build/css/img/list/3-4.png" alt="[卉然饰品] 专注日韩尚潮流饰品">
            </a>
          </li><li class="li_5">
            <a href="https://mbox.tmall.com/" target="_black" title="[mbox饰品] 小资女人 时尚生活">
              <img src="./build/css/img/list/3-5.png" alt="[mbox饰品] 小资女人 时尚生活">
            </a>
          </li><li class="li_6">
            <a href="https://zhifang666.taobao.com/" target="_black" title="[脂肪商店] 女神的时尚选择">
              <img src="./build/css/img/list/3-6.png" alt="[脂肪商店] 女神的时尚选择">
            </a>
          </li><li class="li_7">
            <a href="http://shop101690896.taobao.com" target="_black" title="[一号店批发商城] 性价比超高">
              <img src="./build/css/img/list/3-7.png" alt="[一号店批发商城] 性价比超高">
            </a>
          </li><li class="li_8">
            <a href="https://shop57051447.taobao.com/" target="_black" title="[喔啦啦] 欧韩风尚饰品">
              <img src="./build/css/img/list/3-8.png" alt="[喔啦啦] 欧韩风尚饰品">
            </a>
          </li><li class="li_9">
            <a href="https://jdbopen.taobao.com/" target="_black" title="[九点半open] 不会跟别人撞壳">
              <img src="./build/css/img/list/3-9.png" alt="[九点半open] 不会跟别人撞壳">
            </a>
          </li><li class="li_10">
            <a href="https://gdesh.tmall.com/" target="_black" title="[GDE] 专注男士首饰">
              <img src="./build/css/img/list/3-10.png" alt="[GDE] 专注男士首饰">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_4" id="floor_4" style="display: none;">
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://chaoshi.tmall.com/" target="_black" title="健康美味由此开始">
              <img src="./build/css/img/list/4-1.png" alt="健康美味由此开始">
            </a>
          </li><li class="li_2">
            <a href="https://sanzhisongshu.tmall.com/" target="_black" title="全网坚果销量第1">
              <img src="./build/css/img/list/4-2.png" alt="全网坚果销量第1">
            </a>
          </li><li class="li_3">
            <a href="https://liangpinpuzi.tmall.com/" target="_black" title="让嘴巴去旅行">
              <img src="./build/css/img/list/4-3.png" alt="让嘴巴去旅行">
            </a>
          </li><li class="li_4">
            <a href="https://baicaowei.tmall.com/" target="_black" title="[百草味] 趣味零食探索家">
              <img src="./build/css/img/list/4-4.png" alt="[百草味] 趣味零食探索家">
            </a>
          </li><li class="li_5">
            <a href="https://laiyifen.tmall.com/" target="_black" title="[来伊份] 味我所爱 领鲜到底">
              <img src="./build/css/img/list/4-5.png" alt="[来伊份] 味我所爱 领鲜到底">
            </a>
          </li><li class="li_6">
            <a href="https://weilongshipin.tmall.com/" target="_black" title="[卫龙辣条] 真美味 美不可言">
              <img src="./build/css/img/list/4-6.png" alt="[卫龙辣条] 真美味 美不可言">
            </a>
          </li><li class="li_7">
            <a href="https://mufengsp.tmall.com/" target="_black" title="[牧丰食品] 美味零食聚集地">
              <img src="./build/css/img/list/4-7.png" alt="[牧丰食品] 美味零食聚集地">
            </a>
          </li><li class="li_8">
            <a href="https://yifutang.tmall.com/" target="_black" title="[艺福堂茗茶] 有态度的健康茶">
              <img src="./build/css/img/list/4-8.png" alt="[艺福堂茗茶] 有态度的健康茶">
            </a>
          </li><li class="li_9">
            <a href="https://tenwow.tmall.com/" target="_black" title="[天喔] 有意思的零食">
              <img src="./build/css/img/list/4-9.png" alt="[天喔] 有意思的零食">
            </a>
          </li><li class="li_10">
            <a href="https://huaweiheng.tmall.com/" target="_black" title="[华味亨] 中华精致零食">
              <img src="./build/css/img/list/4-10.png" alt="[华味亨] 中华精致零食">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_4" id="floor_5" style="display: none;">
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://shop34189316.taobao.com/" target="_black" title="你身边的居家伴侣">
              <img src="./build/css/img/list/5-1.png" alt="你身边的居家伴侣">
            </a>
          </li><li class="li_2">
            <a href="https://shop57665133.taobao.com/" target="_black" title="卖萌神店">
              <img src="./build/css/img/list/5-2.png" alt="卖萌神店">
            </a>
          </li><li class="li_3">
            <a href="https://shop34345292.taobao.com/" target="_black" title="安安加萌物文具店">
              <img src="./build/css/img/list/5-3.png" alt="安安加萌物文具店">
            </a>
          </li><li class="li_4">
            <a href="https://shop33128282.taobao.com/" target="_black" title="[豆豆] 你的生活护理专家">
              <img src="./build/css/img/list/5-4.png" alt="[豆豆] 你的生活护理专家">
            </a>
          </li><li class="li_5">
            <a href="https://shop58894223.taobao.com/" target="_black" title="[还不晚] 家居百货超市">
              <img src="./build/css/img/list/5-5.png" alt="[还不晚] 家居百货超市">
            </a>
          </li><li class="li_6">
            <a href="https://shop35783997.taobao.com/" target="_black" title="[雯屋] 全球创意品牌店 ">
              <img src="./build/css/img/list/5-6.png" alt="[雯屋] 全球创意品牌店 ">
            </a>
          </li><li class="li_7">
            <a href="https://shop33216517.taobao.com/" target="_black" title="[懒角落] 愉悦生活指南">
              <img src="./build/css/img/list/5-7.png" alt="[懒角落] 愉悦生活指南">
            </a>
          </li><li class="li_8">
            <a href="https://shop61044576.taobao.com/" target="_black" title="[缤纷屋] 创意家居生活馆">
              <img src="./build/css/img/list/5-8.png" alt="[缤纷屋] 创意家居生活馆">
            </a>
          </li><li class="li_9">
            <a href="https://dangdang.tmall.com/" target="_black" title="[当当网] 中文图书销售夺金品牌">
              <img src="./build/css/img/list/5-9.png" alt="[当当网] 中文图书销售夺金品牌">
            </a>
          </li><li class="li_10">
            <a href="https://chaoliumenshibu.taobao.com/" target="_black" title="[潮流门市部] 萌物生活用品">
              <img src="./build/css/img/list/5-10.png" alt="[潮流门市部] 萌物生活用品">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_4" id="floor_6" >
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://shop66958636.taobao.com/" target="_black" title="高性价比的彩妆店铺">
              <img src="./build/css/img/list/6-1.png" alt="高性价比的彩妆店铺">
            </a>
          </li><li class="li_2">
            <a href="https://litfly.tmall.com/" target="_black" title="梦幻彩妆工具">
              <img src="./build/css/img/list/6-2.png" alt="梦幻彩妆工具">
            </a>
          </li><li class="li_3">
            <a href="https://shop57609365.taobao.com/" target="_black" title="你的专属造型师">
              <img src="./build/css/img/list/6-3.png" alt="你的专属造型师">
            </a>
          </li><li class="li_4">
            <a href="https://shop106923574.taobao.com/" target="_black" title="[雨潼彩妆] 其实你可以更美">
              <img src="./build/css/img/list/6-4.png" alt="[雨潼彩妆] 其实你可以更美">
            </a>
          </li><li class="li_5">
            <a href="https://beautyartisan.tmall.com/" target="_black" title="[美丽工匠] 专注美妆生活">
              <img src="./build/css/img/list/6-5.png" alt="[美丽工匠] 专注美妆生活">
            </a>
          </li><li class="li_6">
            <a href="https://atcosme.tmall.hk/" target="_black" title="[cosme海外] 日本化妆品专卖">
              <img src="./build/css/img/list/6-6.png" alt="[cosme海外] 日本化妆品专卖">
            </a>
          </li><li class="li_7">
            <a href="https://innisfree.tmall.com/" target="_black" title="[innisfree] 来自韩国的天然护肤">
              <img src="./build/css/img/list/6-7.png" alt="[innisfree] 来自韩国的天然护肤">
            </a>
          </li><li class="li_8">
            <a href="https://etudehouse.tmall.com/" target="_black" title="[伊蒂之屋] 来自韩国爱茉莉旗下">
              <img src="./build/css/img/list/6-8.png" alt="[伊蒂之屋] 来自韩国爱茉莉旗下">
            </a>
          </li><li class="li_9">
            <a href="https://shop34268955.taobao.com/" target="_black" title="[蓝色小屋] 经典国货美妆 ">
              <img src="./build/css/img/list/6-9.png" alt="[蓝色小屋] 经典国货美妆 ">
            </a>
          </li><li class="li_10">
            <a href="https://beautyblend.tmall.com/" target="_black" title="[贝览得] 正品化妆工具">
              <img src="./build/css/img/list/6-10.png" alt="[贝览得] 正品化妆工具">
            </a>
          </li></ul>
                  </div>
              </section>
              <section class="floor floor_4" id="floor_7" style="display: none;">
                  <div class="list">
                      <ul><li class="li_1">
            <a href="https://renben.tmall.com/" target="_black" title="专为中国人脚型设计">
              <img src="./build/css/img/list/7-1.png" alt="专为中国人脚型设计">
            </a>
          </li><li class="li_2">
            <a href="https://dblack.tmall.com/" target="_black" title="爆款潮包店">
              <img src="./build/css/img/list/7-2.png" alt="爆款潮包店">
            </a>
          </li><li class="li_3">
            <a href="https://teenmix.tmall.com/" target="_black" title="有过硬的质量">
              <img src="./build/css/img/list/7-3.png" alt="有过硬的质量">
            </a>
          </li><li class="li_4">
            <a href="https://azams.tmall.com/" target="_black" title="[aza旗舰店] 简约新格调">
              <img src="./build/css/img/list/7-4.png" alt="[aza旗舰店] 简约新格调">
            </a>
          </li><li class="li_5">
            <a href="https://hotwind.tmall.com/" target="_black" title="[热风] 精选时尚零售连锁品牌">
              <img src="./build/css/img/list/7-5.png" alt="[热风] 精选时尚零售连锁品牌">
            </a>
          </li><li class="li_6">
            <a href="https://momobag.taobao.com/" target="_black" title="[猫猫包袋] 就是与众不同">
              <img src="./build/css/img/list/7-6.png" alt="[猫猫包袋] 就是与众不同">
            </a>
          </li><li class="li_7">
            <a href="https://daphne.tmall.com/" target="_black" title="[达芙妮] 时髦新格调">
              <img src="./build/css/img/list/7-7.png" alt="[达芙妮] 时髦新格调">
            </a>
          </li><li class="li_8">
            <a href="https://lafestin.tmall.com/" target="_black" title="[拉菲斯汀] 来自法国的时尚">
              <img src="./build/css/img/list/7-8.png" alt="[拉菲斯汀] 来自法国的时尚">
            </a>
          </li><li class="li_9">
            <a href="https://xiaop99.taobao.com/" target="_black" title="[小P良品] 至in潮牌女鞋">
              <img src="./build/css/img/list/7-9.png" alt="[小P良品] 至in潮牌女鞋">
            </a>
          </li><li class="li_10">
            <a href="https://mbaobao.tmall.com/" target="_black" title="[麦包包] 领先国内时尚箱包">
              <img src="./build/css/img/list/7-10.png" alt="[麦包包] 领先国内时尚箱包">
            </a>
          </li></ul>
                  </div>
              </section>
          </div>
      </div>
      <script>
        (function() {
        
            PD(".nav-box").on("click", "li", function() {
                var navs = PD(".nav-box li").removeClass("on")
                var vm = PD(this)
                vm.addClass("on")
                var floors = PD(".floor")
                floors.hide()
                var index = PD(this).index() + 1
                PD("#floor_" + index).show()
            })
        })()
        </script>
  </body></html>