<% include ../../../templates/head.ejs %>

    <div class="app bgcolor m-auto">
        <section class="banner">&nbsp;
        </section>

        <section class="time">&nbsp;</section>

        <section class="banda_1 banda">
            <a href="javascript:void(0);" onclick="LayerSpe('1')">&nbsp;</a>
        </section>
        <section class="banda_2 banda">
            <a href="javascript:void(0);" onclick="LayerSpe('2')">&nbsp;</a>
        </section>
        <section class="banda_3 banda">
            <a href="javascript:void(0);" onclick="LayerSpe('3')" >&nbsp;</a>
        </section>

        <section class="website">
            <div class="y_1">
                <a href="">&nbsp;</a>
                <a href="">&nbsp;</a>
            </div>
            <div class="y_2">
                <a href="">&nbsp;</a>
                <a href="">&nbsp;</a>
                <a href="">&nbsp;</a>
            </div>
        </section>

        <section class="floor-wrap">
            <div class="floor-top"></div>
            <div class="floor-main">
                <ul>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/1.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/2.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/3.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/4.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/5.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/6.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/7.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/8.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/9.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="./build/css/img/list/10.png" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="floor-end">&nbsp;</div>
        </section>
    </div>

     <div class="Lay-wrap">
        <div  id="Lay-main-1">
            <div class="Lay-main-1">
                <img src="./build/css/img/lay-1.png" alt="">
                <a href="javascript:void(0);" class="l-close"></a>
            </div>  
        </div>
        <div  id="Lay-main-2">
            <div class="Lay-main-2">
                <img src="./build/css/img/lay-2.png" alt="">
                <a href="javascript:void(0);" class="l-close"></a>
            </div>  
        </div>
        <div  id="Lay-main-3">
            <div class="Lay-main-3">
                <img src="./build/css/img/lay-3.png" alt="">
                <a href="javascript:void(0);" class="l-close"></a>
            </div>  
        </div>
    </div>

    </body>


    <script>
        (function() {


        })()
    </script>

    </html>